.chatmain
  .header
    .header__leftbox
      .header__leftbox__title
        = @group.name
      .header__leftbox__members
        Member:
        .header_leftbox_members__member
          - @group.users.each do |user|
            = user.name

    .header__rightbox
      .header__rightbox__btn
        =link_to("Edit", edit_group_path(@group))

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      %form
        .input-box
          = f.text_field :content, class: "input-box__text", placeholder: "type a message"
          .input-box__image
            = f.label :image, class: "input-box__image" do
              =icon('fas', 'image', class: "input-boz__image") 
              = f.file_field :image, class: "input-box__image__file" 
        = f.submit 'Send', class: "submit-btn" 